@charset "UTF-8";
.slider-container {
  max-width: 1300px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  margin-top: 30vh;

  .slick-prev,
  .slick-next {
    z-index: 2;
  }

  .slick-prev {
    left: 1%;
  }

  .slick-next {
    right: 1%;
  }
}

.slider-items {
  text-align: center;
  background-color: aquamarine;
  padding: 15px;
}