@charset "uft-8";
.simple {
  max-width: 1300px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.simple-slider {
  margin-top: 30vh;

  .slick-prev {
    left: 1%;
  }

  .slick-next {
    right: 1%;
  }
}